// I wish to be an Octocat
// Job Application for Github Page
// Valentina Montagna
// Berlin 2014

@import url("//fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,800")
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700")

// Colors
$color_main = #3E3D3D
$color_text = #515151
$color_bg_link_hover = #F4F4D4
$color_button = #CAD2EE
$color_border_button = #97A8DA
$color_shadow_button = #3D4F92
$color_light_grey = #E2E2E2
$color_bg_terminal = #323232
$color_bg_grey = #F7F7F6
$color_bg_lilac = #E1E7F0
$color_dark_lilac = #424D71
$color_blue_lilac = #5D77D7
$color_terminal_01 = #A0C0FF
$color_terminal_02 = #FFF8C9
$color_terminal_03 = #E7AAFF

// Rounded Corners
$rounded_corners = 4px
$rounded_corners_small = 2px

// Mixins
transition()
    -webkit-transition arguments
    transition arguments

// General Styles

body
    color $color_main

    font-family 'Open Sans', Helvetica, sans-serif
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    a
        color $color_text
        background-color $color_bg_lilac
        border-bottom 1px solid darken($color_bg_lilac, 20%)

        padding 1px 2px

        font-weight 600
        text-decoration none

        transition(all 0.3s ease)

        &:hover
            background-color $color_bg_link_hover
            border-bottom 1px solid darken($color_bg_link_hover, 30%)

code
    font-family 'Inconsolata', monospaced

strong
    font-weight 700

// Buttons
.button
    padding 0.8em 1em

    border-radius $rounded_corners
    border 1px solid $color_border_button

    background-color transparent
    color $color_button

    font-size 0.8em
    font-weight 600
    text-align center
    text-transform uppercase
    letter-spacing 0.05em

    transition(all 0.3s ease)

    &:hover
        box-shadow 0px 4px 4px -4px rgba($color_shadow_button, 0.5)
        border 1px solid lighten($color_border_button, 15%)

        color white
        background-color rgba($color_border_button, 0.5)

    &:active
        box-shadow inset 0px 0px 3px 2px rgba($color_shadow_button, 0.2)

    @media screen and (max-width: 640px)
        display block

        border 1px solid lighten($color_border_button, 15%)


.btn-dark
    @extend .button
    display block
    border 1px solid lighten($color_blue_lilac, 50%)

    background-color lighten($color_blue_lilac, 50%)
    color $color_text

    &:hover
        background-color lighten($color_blue_lilac, 65%)
        color desaturate($color_text, 12%)

.btn-small
    @extend .button
    padding 0.6em 0.8em

    border-radius $rounded_corners_small

// Page Styles

// General Rules
.section-title
    font-size 2em
    font-weight 300
    text-align center
    text-transform uppercase

    @media screen and (max-width: 640px)
        font-size 1.4em

// Banner intro

.octocat-banner
    background #f5f6e0; /* Old browsers */
    background -moz-linear-gradient(top, #f5f6e0 0%, #5d77d7 100%) /* FF3.6+ */
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6e0), color-stop(100%,#5d77d7)) /* Chrome,Safari4+ */
    background -webkit-linear-gradient(top, #f5f6e0 0%,#5d77d7 100%) /* Chrome10+,Safari5.1+ */
    background -o-linear-gradient(top, #f5f6e0 0%,#5d77d7 100%) /* Opera 11.10+ */
    background -ms-linear-gradient(top, #f5f6e0 0%,#5d77d7 100%) /* IE10+ */
    background linear-gradient(to bottom, #f5f6e0 0%,#5d77d7 100%) /* W3C */
    // filter progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6e0', endColorstr='#5d77d7',GradientType=0 ) /* IE6-9 */

    .octicon-octoface
        margin 0.2em 0 0 0
        color $color_dark_lilac
        font-size 15em
        opacity 0.2

        @media screen and (max-width: 640px)
            font-size 12em

    h1
        margin 0.2em 0 0 0
        font-size 4.5em
        font-weight 800

        @media screen and (max-width: 640px)
            padding 0 0.5em
            font-size 1.8em

    h2
        margin 0.3em 0 0 0
        font-size 2em
        font-weight 300

        del
            text-decoration line-through

        @media screen and (max-width: 640px)
            padding 0 0.5em
            font-size 1.4em

    .page-menu
        margin 2em 0 2em 0

        li
            @media screen and (max-width: 640px)
                display block
                margin 0.5em 0

        @media screen and (max-width: 640px)
            margin 2em 0 0.5em 0

// Intro

.intro

    color $color_text

    font-size 1.15em
    line-height 1.65em

    @media screen and (max-width: 640px)
        padding 0 1em
        font-size 1em

// Love Github

.love-github
    .section-title
        margin 1.5em 0 0 0
        padding-bottom 0.8em
        border-bottom 1px solid $color_light_grey

    .reason-why
        padding 0 1em

        h4
            font-size 1.1em
            font-weight 700

        p
            color $color_text
            font-size 0.95em
            line-height 1.6em

// Reasons to Hire me

.reasons-to-hire-me
    background-color $color_bg_grey

    .seven-reasons
        counter-reset li

        h4
        p
            color $color_text

        h4
            margin 0.5em 0 0 0
            font-size 1.2em
            font-weight 700

            @media screen and (max-width: 640px)
                font-size 1em
                line-height 1.5em
                text-transform uppercase

        p
            margin 0.85em 0 2em 0
            font-size 1.1em
            line-height 1.7em

            @media screen and (max-width: 640px)
                font-size 1em

        li
            margin-left 4em
            position relative

            &::before
                content counter(li)
                counter-increment (li)

                position absolute

                margin-left -4em

                background-color white
                border 1px solid shade($color_light_grey, 1%)

                width 2.5em
                height 2.5em
                border-radius 50%

                color lighten($color_text, 12%)

                font-size 1.6em
                font-weight 300
                line-height 2.6em
                text-align center

                @media screen and (max-width: 640px)
                    display none

            @media screen and (max-width: 640px)
                margin-left 0

        @media screen and (max-width: 640px)
            padding 0 1em


// Projects
.projects


    .section-title
        padding-bottom 0.8em
        border-bottom 1px solid $color_light_grey

    .project
        padding 0 1em

        .img-container
            padding 0.8em 0
            background-color lighten($color_border_button, 65%)

            img
                margin 0 auto
                display block
                max-width 100%

        p
            color $color_text
            font-size 0.95em
            line-height 1.6em

        .button
            margin 1em 0 1.5em 0

    .portfolio-links
        font-size 0.9em
        line-height 1.4em
        padding 1.4em 0

        border-top 1px solid $color_light_grey
        border-bottom 1px solid $color_light_grey

        text-align center

        @media screen and (max-width: 640px)
            line-height 1.6em

// Quote
.quote

    blockquote
        margin 2em 0
        font-size 3em
        line-height 1.4em
        font-weight 300

        p
            margin 0

        &:before
            content ''
            display block
            margin 0 auto 0.7em auto
            max-width 80px

            border-bottom 1px solid lighten($color_text, 15%)

            @media screen and (max-width: 640px)
                border-bottom 1px solid $color_light_grey

        &:after
            content ''
            display block
            margin 0.7em auto 0em auto
            max-width 80px

            border-top 1px solid lighten($color_text, 15%)

            @media screen and (max-width: 640px)
                border-top 1px solid $color_light_grey

        @media screen and (max-width: 640px)
            font-size 1.4em
            line-height 1.6em


    cite
        margin 0.5em 0 0 0
        font-size 0.6em
        font-style normal

        @media screen and (max-width: 640px)
            margin 1.2em 0 0 0
            color lighten($color_text, 40%)

            font-size 1em


// Resume

.my-resume

    .resume-content

        .resume-unit
            background-color $color_bg_grey
            border-top 3px solid white

            h5
                margin 0 0 1em 0
                font-size 1em

            .experience-type
            .experience-content
            .experience-learned
                padding 1em 2em

            .experience-type

                li
                    font-size 0.85em
                    line-height 1.8em
                    font-weight 600

                .octicon
                    font-size 3em
                    color $color_text

                .what
                    margin 0.75em 0 0 0

                .where
                    color lighten($color_text, 40%)

            .experience-content
            .experience-learned

                h5
                p
                    color $color_text
                    font-size 0.9em
                    line-height 1.6em

            &:nth-of-type(2n)
                background-color $color_bg_lilac


// Thanks & Contacts

.contacts

    .section-title
        margin 3em 0 0 0

    p
    a
        font-weight 400

    p
        margin 0.5em 0 3em 0
        color darken($color_light_grey, 35%)

        line-height 2em


// Git Joke

.git-joke
    background-color $color_bg_terminal

    p
        margin 0
        padding 9em 0

        color white

        font-size 1.2em
        line-height 1em
        font-weight 700

        .repo
            color $color_terminal_01

        .git
            color $color_terminal_02

        .branch
            color $color_terminal_03

        @media screen and (max-width: 640px)
            font-size 0.85em
